body{
    background-image: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d ); 
    color: #fff;
    font-size: 16px;
}

#app{
    width: 50%;
    margin: 200px auto;
    text-align: center;
}

#weather{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    background-image: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d ); 
    height: 300px;
}

#icon{
    height: 200px;
}

#temp{
    font-size:1.5em;
}
#txt{
    height:100px;
    margin: 5px 0;
}

#date{
    text-align:right;
    margin: 0 10px
   }
#content{
    margin: 10px 0;
   }
#input{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #f8f8f8;
}


/*  Basic Styling To Override Default For Basic HTML Elements */
input[type=text] {
    box-sizing: border-box;
    width:100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
  }

textarea{
    box-sizing: border-box;
    width:100%;
    padding: 12px 20px;
    margin: 8px 0;
    border:none;
    background:#fff;
}

button{
    box-sizing: border-box;
    width:100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    color: #fff;
    background-image: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d ); 
    font-size:1.2em;
}

/* Reset style for HTML element on active to have no border*/
input:focus,
textarea:focus,
button:focus {
  outline: none;

}

::placeholder { /* Firefox, Chrome, Opera */ 
    color: #999; 
    font-family: 'Oswald', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #999; 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #999; 
    font-family: 'Oswald', sans-serif;

} 